body{margin:0;}
    a {color:black;
        }
    h1 {font-size:50px; 
        text-align:center;
        border-bottom:5px solid black;
        margin:0;
        padding:20px;
    }
    ol {
        border-right:5px solid black;
        width:230px;
        margin:0;
        padding:20px;
    }
    #grid
    {display:grid;
    grid-template-columns:300px 1fr;}
    #grid ol{
        padding-left:33px;
    }
    #grid #article{
        padding-left:0px;
    }
    @media(max-width:700px){
        #grid{
            display:block;
    }
    ol{
        border-right:none;
    }
    h1{
        border-bottom:none;
    }
}